.MessageSender {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.send-button {
    width: 20%;
    height: 30px;
}

.message-textarea {
    width: 70%;
    height: 50px;
    resize: none;
}