.message-paragraph {
    margin: 10px;
    padding: 10px;
    border: 1px solid coral;
    border-radius: 4px;
}

.author {
    display: inline-block;
    border-bottom: 1px solid burlywood;
    font-size: 12px;
}

.message {
    display: block;
    padding: 10px;
    font-size: 14px;
}